body {

  background-image: url(assets/download.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.clock-container{
  color: aliceblue;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  font-family: monospace;
}
.logo{
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}